@charset "utf-8";
body {background-color: #F1C6C0}
img { width: 400px}
img:hover {
	border: dashed #8e1438;
	width: 450px;
	border-radius: 10%
}
h2 { 
	text-decoration: underline wavy #8e1438 5px;
color: #e75480;
letter-spacing: 1.5 px;
text-shadow: 2px 2px 5px #670067;
font-family: 'Sour Gummy', cursive;
	font-size: 50px; }
